@charset "utf-8";

/*=====================================================================================
共通
=====================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
html{
	background:#000;
}
.wrapper{
	width:96%;
	margin:auto;
}

/*=====================================================================================
サイドバー
=====================================================================================*/

.sidebar{
    position: fixed;
    right: -400px;
    background: #232323;
    width: 400px;
    height: 100%;
    transition: 0.5s;
	display:flex;
	align-items:center;
	padding-left:30px;
	z-index:10;
	opacity:0.9;
}
.sidebar li{
	margin:20px 0;
}
.sidebar ul a {
    color: #fff;
    height: 100%;
    width: 100%;
    font-size: 3em;
    transition: 0.5s;
}

/*=====================================================================================
メイン
=====================================================================================*/
/*メイン共通*/

main{
	height:100%;
	width:100%;
	color:#fff;
	display:flex;
	align-items:center;
	padding:10px 80px 0 80px;
	user-select: none;
}
h1{
	position:absolute;
	top:30%;
	font-size:4rem;
}
h1 a{
	color:#fff;
}
video{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	object-fit:cover;
	z-index:-1;
}

/*index*/

.index p{
	position:absolute;
	top:50%;
	font-size:2rem;
	margin-right:80px;
	max-width:700px;
}

/*about*/

main h2{
	text-align:center;
	padding-bottom:5px;
}
main section{
	margin-bottom:20px;
	border-radius:5px;
	background:rgba(255,255,255,0.5);
	margin:0 auto;
	margin-bottom:5px;
}
.about{
	width:100%;
	margin:10px auto;
}
.flex{
	display:flex;
	justify-content:space-around;
	background:rgba(f,f,f,0.5);
	margin-bottom:20px;
	max-width:730px;
	width:100%;
}
.flex img{
	width:50%;
	height:;
	max-width:360px;
	margin:5px;
}
.flex div{
	padding:20px 10px;
	width:50%;
	max-width:360px;
}
.left{
	order:-1;
}

/*横幅が狭くなった時の設定*/
@media screen and (max-width: 768px){	/*タブレット用*/

	main {
		padding:0 60px;
		width:100%;
	}
	.about{
		width:100%;
		text-align:center;
	}
	.flex{
		width:100%;
		display:block;
	}
	.flex img{
		width:90%;
		margin:10px;
	}
	.flex div{
		width:100%;
		margin:auto;
		max-width:100%;
	}
	h1{
		font-size:3rem;
	}
	.index p{
		font-size:2rem;
		margin-right:40px;
	}

}

@media screen and (max-width: 400px){	/*モバイル用*/

	main{
		padding:0 40px;
	}
	.index p{
		font-size:1rem;
		margin-right:40px;
	}
	.flex{
		display:block;
	}
	.flex div{
		width:100%;
	}
	.about img{
		width:80%;
		margin:10px;
		margin-bottom:0;
	}
	.flex p{
		font-size:0.8em;
	}
	h1{
		font-size:2rem;
	}
	h2{
		font-size:1.5em;
		padding-bottom:10px;
		margin-top:20px;
	}
}

/*=====================================================================================
フッター
=====================================================================================*/

footer {
	width:100%;
	color:#fff;
	opacity:0.9;
	text-align:center;
	padding:5px 0;
}

/*=====================================================================================
ホバーAction
=====================================================================================*/

ul li:hover a {
    padding-left: 30px;
	opacity:0.5;
}
ul li:hover .sub_menu{
    padding-left: 40px;
}
.flex:hover{
	max-width:800px;
}

/*=====================================================================================
ハンバーガーメニュ動作
=====================================================================================*/

#check{
    display: none;
}
label #menu,
label #cancel {
    position: fixed;
    cursor: pointer;
    opacity: 0.7;
}
label #menu{
    right: 22px;
    top: 22px;
    font-size: 30px;
    padding: 3px ;
    color: #fff;
    transition: 0.7s;
	z-index:200;
}
label #cancel {
    z-index: 150;
    right: -50px;
    top: 27px;
    font-size: 34px;
    color: #fff;
    transition: 0.5s;
}

/*==チェックAction==*/

#check:checked ~.sidebar{
    right: 0;
}
#check:checked ~ label #menu{
    right: -50px;
}
#check:checked ~ label #cancel{
    right: 27px;
}
check:checked ~ .reccomend_acordion{
    right: 400px;
}
#check:checked ~ .bg{
    margin-right: 400px;
}

